<!doctype html>
<html>
<head>
    <title>Participants Report</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .thumbnails {
            display: flex;
            flex-wrap: wrap;
        }
        .thumbnails .thumbnail {
        }
    </style>
</head>
<body>


<div class="container">
    <br>
    <h1 class="title">Participants Report</h1>
    <p>TODO describe for the whole report</p>

    <div class="columns is-multiline">
